@page "/Waitlist/{waitlistId:guid}/EditPatient/{id:guid}"
@model GtPrax.WebApp.Pages.Waitlist.EditPatientModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    var pageRouteValues = new { waitlistId = Model.WaitlistId, id = Model.Id };
    var parentRouteValues = new { waitlistId = Model.WaitlistId };
    Model.BuildHeaderMenu(pageRouteValues);
    var patientsUrl = Url.PageLink("/Waitlist/Patients", null, parentRouteValues);
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb(pageRouteValues, parentRouteValues)</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-h"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <div>Erstellt am: @Model.CreatedAt</div>
                                <div>Geändert am: @Model.LastUpdatedAt</div>
                                <div>Geändert von: @Model.LastUpdatedBy</div>
                            </div>
                            <hr class="dropdown-divider" />
                            <a href="#" class="dropdown-item open-modal" 
                                data-url="@(Url.PageLink(string.Empty, "deletepatient", pageRouteValues))"
                                data-target="#deletePatientModal">
                                Patient löschen
                            </a>
                            @if (Model.SelectWaitlistItems.Length > 0)
                            {
                                <a href="#" class="dropdown-item open-modal"  
                                    data-url="@(Url.PageLink(string.Empty, "movepatient", new { id = Model.Id }))"
                                    data-target="#movePatientModal">
                                    Patient verschieben
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <h1 class="title is-3">Warteliste: @Model.WaitlistName</h1>

        <div class="columns">
            <div class="column is-half">

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                    <div class="field">
                        <label class="label" asp-for="Input.Name"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Name" autofocus />
                        </div>
                        <span asp-validation-for="Input.Name"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Birthday"></label>
                        <div class="control">
                            <input class="input" type="date" asp-for="Input.Birthday" />
                        </div>
                        <span asp-validation-for="Input.Birthday"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.PhoneNumber"></label>
                        <div class="control">
                            <input class="input" type="tel" asp-for="Input.PhoneNumber" />
                        </div>
                        <span asp-validation-for="Input.PhoneNumber"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Reason"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Reason" />
                        </div>
                        <span asp-validation-for="Input.Reason"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Doctor"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Doctor" />
                        </div>
                        <span asp-validation-for="Input.Doctor"></span>
                    </div>

                    <div class="field">
                        <label class="label" asp-for="Input.TherapyTimes"></label>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Montag</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Monday[0]"/> Vormittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Monday[1]"/> Nachmittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Monday[2]"/> Hausbesuch</label>
                              </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="time" asp-for="Input.TherapyTimes.MondayTime"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Dienstag</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Tuesday[0]"/> Vormittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Tuesday[1]"/> Nachmittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Tuesday[2]"/> Hausbesuch</label>
                              </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="time" asp-for="Input.TherapyTimes.TuesdayTime"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Mittwoch</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Wednesday[0]"/> Vormittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Wednesday[1]"/> Nachmittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Wednesday[2]"/> Hausbesuch</label>
                              </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="time" asp-for="Input.TherapyTimes.WednesdayTime"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Donnerstag</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Thursday[0]"/> Vormittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Thursday[1]"/> Nachmittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Thursday[2]"/> Hausbesuch</label>
                              </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="time" asp-for="Input.TherapyTimes.ThursdayTime"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Freitag</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Friday[0]"/> Vormittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Friday[1]"/> Nachmittag</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="control mt-1">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.TherapyTimes.Friday[2]"/> Hausbesuch</label>
                              </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="time" asp-for="Input.TherapyTimes.FridayTime"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Markierungen</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control mt-1">
                            <label class="checkbox"><input type="checkbox" asp-for="Input.IsPriority"/> @Html.DisplayNameFor(m => m.Input.IsPriority)</label>
                        </div>
                        <div class="control mt-1">
                            <label class="checkbox"><input type="checkbox" asp-for="Input.IsJumper"/> @Html.DisplayNameFor(m => m.Input.IsJumper)</label>
                        </div>
                        <div class="control mt-1">
                            <label class="checkbox"><input type="checkbox" asp-for="Input.IsNeurofeedback"/> @Html.DisplayNameFor(m => m.Input.IsNeurofeedback)</label>
                        </div>
                        <div class="control mt-1">
                            <label class="checkbox"><input type="checkbox" asp-for="Input.IsSchool"/> @Html.DisplayNameFor(m => m.Input.IsSchool)</label>
                        </div>
                        <div class="control mt-1">
                            <label class="checkbox"><input type="checkbox" asp-for="Input.IsDaycare"/> @Html.DisplayNameFor(m => m.Input.IsDaycare)</label>
                        </div>
                        <div class="control mt-1">
                            <label class="checkbox"><input type="checkbox" asp-for="Input.IsGroup"/> @Html.DisplayNameFor(m => m.Input.IsGroup)</label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" asp-for="Input.Remark"></label>
                        <div class="control">
                            <textarea class="textarea" rows="7" asp-for="Input.Remark"></textarea>
                        </div>
                        <span asp-validation-for="Input.Remark"></span>
                    </div>

                    <button class="button is-primary" type="submit">Speichern</button>
                    </fieldset>
                </form>


            </div>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")

@Html.CreateModalTemplateWithOkCancel(
    "deletePatientModal",
    "Patient löschen",
    "Möchtest du wirklich den aktuellen Patienten löschen?")

@Html.CreateModalTemplateStart("movePatientModal", "Patient verschieben")
<p>Möchtest du wirklich den aktuellen Patienten verschieben?</p>
<p class="my-2">Ziel der Warteliste:</p>
<div class="waitlistItems select">
    <select asp-items="Model.SelectWaitlistItems"></select>
</div>
@Html.CreateModalTemplateEnd(true)

@section Scripts {
<script type="text/javascript">
    $(function () {

        handleModal({
            id: '#deletePatientModal',
            token: {@Html.AjaxCsrfToken()},
            confirm: {
                dataurl: 'url',
                post: function (data) {
                    sleep(1000).then(() => window.location.replace('@patientsUrl'));
                    return true;
                },
                toast: {
                    success: 'Patient wurde gelöscht.',
                    failed: 'Patient konnte nicht gelöscht werden.'
                }
            }
        });

        handleModal({
            id: '#movePatientModal',
            token: {@Html.AjaxCsrfToken()},
            confirm: {
                dataurl: 'url',
                pre: function (target, url) {
                    const waitlistId = $(target).find(".waitlistItems :selected").val();
                    const url2 = new URL(url);
                    url2.searchParams.set('targetWaitlistId', waitlistId);
                    return url2.href;
                },
                post: function (data) {
                    sleep(1000).then(() => window.location.replace('@patientsUrl'));
                    return true;
                },
                toast: {
                    success: 'Patient wurde verschoben.',
                    failed: 'Patient konnte nicht verschoben werden.'
                }
            }
        });

    });
</script>
}