@page
@model GtPrax.UI.Pages.UserAccount.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();
    var roleConverter = new RoleConverter();
    var dateConverter = new GermanDateTimeConverter();
    var editUserPage = Model.PageLinkName<EditModel>();
    var createUserPage = Model.PageLinkName<CreateModel>();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb()</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-h"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <div>Bestätigt: @Model.UsersConfirmed</div>
                                <div>Unbestätigt: @Model.UsersNotConfirmed</div>
                                <div>Gesperrt: @Model.UsersLocked</div>
                            </div>
                            <hr class="dropdown-divider" />
                            <a href="@(Url.PageLink(createUserPage))" class="dropdown-item">
                                Benutzer anlegen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            @foreach (var u in Model.Items)
            {
                <div class="list-item list-item-clickable" data-url="@(Url.PageLink(editUserPage, null, new { id = u.Id }))">
                    <div class="list-item-image">
                        <i class="fa-solid fa-user fa-2x has-text-info"></i>
                    </div>
                    <div class="list-item-content">
                        <div class="list-item-title">@u.Name</div>
                        <div class="list-item-description">
                            <span class="tag is-rounded @(u.IsEmailConfirmed ? "is-success": "is-danger")">@u.Email</span>
                            <span class="tag is-rounded">@(u.LastLogin is not null ? dateConverter.ToDateTime(u.LastLogin.Value) : "Keine Anmeldung")</span>
                        </div>
                    </div>
                    <div class="list-item-controls">
                        <div class="buttons is-right is-hidden-mobile">
                            <a class="button" href="@(Url.PageLink(editUserPage, null, new { id = u.Id }))">
                                <span class="icon is-small"><i class="fas fa-edit"></i></span>
                                <span>Bearbeiten</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</section>

@await Html.PartialAsync("_Footer")
